

body{
  display: flex;
flex-direction: column;
  justify-content: center;
}
.container{
  width: 90%;
  
}
.cont{
  display: flex;
  justify-content: space-between;
}
.totalExpenseDiv{
  display: flex;
  justify-content: space-between;
}